.flex {
  display: flex;
}

.flex-just-beew {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-fixed {
  flex: 0 0 auto;
}

.flex-item-center {
  display: flex;
  ;
  align-items: center;
}

.flex-just-center {
  display: flex;
  ;
  justify-content: center;
}

body .tui-editor-contents {
  font-size: 15px;
}




a{
  text-decoration: none;
}